{% extends 'base.html' %}
{% block content %}
<h3>Formulário de inscrição</h3>

<br/>

<form action="." method="POST">
    {% csrf_token %}
    <p>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name }}
        <span style="color: red;">{{ form.name.errors }}</span>
    </p>
    <p>
        <label for="{{ form.name.id_for_label }}">{{ form.cpf.label }}:</label>
        {{ form.cpf }}
        <span style="color: red">{{ form.cpf.errors }}</span>
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{ form.email }}
        <span style="color: red;">{{ form.email.errors }}</span>
    </p>
    <p>
        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}:</label>
        {{ form.phone }}
        <span style="color: red;">{{ form.phone.errors }}</span>
    </p>
    <input type="submit" value="Enviar!" class="button">
</form>
{% endblock content %}