<!DOCTYPE html>
<html lang="en">
<head>
    <title>EventeX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Botstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 style="font-family: cursive">E V E N T E X</h1>
        <br/>
        <p><b>Bem-vindo ao EventeX!</b></p>
        <p>O melhor evento do Brasil, do Mundo e do Pan-americano!!!</p>
        <p>Abertura das inscrições no próximo domingo, 28/07/2013</p>
        <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
    <hr>
    <div id="footer">
      <p>&copy; 2013 - EventeX, all rights reserved
    </div>
   </div>
</div>
</body>
</html>